/.transformer_env
/data/
/lightning_logs/
/checkpoints/
gpu_test.py
Nov13/
notebooks/
test_report/
random_*
slurm*
submit.sh
/slurm_outputs/
/masked_reconstruction/
/MaskedFormerSlurmOutputs/  

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
**/__pycache__/
**/*.pyc
/.claude
./notebooks
/docs
/CLAUDE.md
/submit.sh
/submit_lr_find.sh
/analysis
/failed_experiments
/ExperimentOutputs
/src/data/analysis_plots/
/config/test_config.yaml
compare_cmd.txt
cv_masters_project.md
submit_root_to_h5.sh
submit_test.sh
submit_vanilla_3m.sh
*.venv/
.venv/
