/.transformer_env
/src/data_utls
/data/
/lightning_logs/
/checkpoints/
gpu_test.py
Nov13/
notebooks/
test_report/
random_*
slurm*
submit.sh
/slurm_outputs/
/masked_reconstruction/
/MaskedFormerSlurmOutputs/  
/src/models/components/matcher.py

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
**/__pycache__/
**/*.pyc
/.claude
./notebooks
/docs
/CLAUDE.md
/submit.sh
/submit_lr_find.sh
/analysis
/failed_experiments
/ExperimentOutputs