/.transformer_env
/src/data_utls
/data/
/lightning_logs/
/checkpoints/
gpu_test.py
Nov13/
notebooks/
test_report/
random_*
slurm*
submit.sh
/slurm_outputs/
/masked_reconstruction/


__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
**/__pycache__/
**/*.pyc